@use '../helpers' as *;


.icon{

    display: inline-flex;
    column-gap: rem(10);
    align-items: center;


    &::after{
        --size: #{rem(24)};

        @include square(var(--size));
        
        content: '';
        flex-shrink: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

    }

    &--yellow-arrow{
        &::after{
            background: url('../../icons/arrow-top-right_yellow.svg');
        }
    }



}